@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-hanken: "Hanken Grotesk", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-space: "Space Grotesk", sans-serif;
  }

  body {
    background-color: #fbf9f9;
    color: #1b1c1c;
    font-family: var(--font-hanken), sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-space), sans-serif;
  }
}

.grid-bg {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(27, 28, 28, 0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(27, 28, 28, 0.05) 1px, transparent 1px);
}

/* Custom Scrollbars */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f5f3f3;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e4beb3;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #907066;
}

.hard-shadow {
  box-shadow: 4px 4px 0px 0px #000000;
}

.hard-shadow-hover:hover {
  box-shadow: 6px 6px 0px 0px #000000;
  transform: translate(-2px, -2px);
  transition: all 0.15s ease;
}

*:focus-visible {
  outline: 2px solid #a93100;
  outline-offset: 2px;
}
